* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Lato";
  font-size: 1.6rem;
  background: #232429;
  color: #FCFFFC;
  height: 100%;
  position: relative;
}

@keyframes slide-popup {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  color: #FCFFFC;
  border-radius: 10px;
  font-weight: bold;
  background: #DB504A;
  font-size: 2rem;
}
.btn:hover {
  background: #661714;
}
.btn.formButton {
  width: 60%;
  display: block;
  margin: 20px auto 0 auto;
  height: 40px;
  border-radius: 15px;
}
.btn.close-popup {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  border: 1px solid #DB504A;
  border-radius: 50%;
  background: none;
}
.btn.close-popup:hover {
  background: #DB504A;
  transform: scale(1.1);
}
.btn.show-more {
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1.3rem;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}
.btn.show-more.hidden {
  display: none;
}
.btn.show-more:hover {
  color: #FCFFFC;
  background: #661714;
  transform: scale(1.1);
}
.btn.clear-history {
  width: 80px;
  height: 35px;
  margin-top: 20px;
}

.container-popup {
  position: absolute;
  width: 60%;
  max-width: 500px;
  top: -20px;
  padding: 15px 0;
  background: #42454D;
  border: 1px solid #232429;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%) scale(1);
  animation: popup-slide 1s linear infinite;
  transition: 0.5s;
  box-shadow: 0 0 10px #DB504A;
}
.container-popup.hidden {
  transform: translate(-50%, -100%) scale(0.2);
}

.container-form {
  border-radius: 20px;
  padding: 30px 10px;
  margin-top: 50px;
  width: 70%;
  max-width: 600px;
  background-color: #42454D;
  border: 1px solid #DB504A;
}
.container-form .form {
  margin: 20px auto;
  width: 60%;
}
.container-form .form .form-box {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
}
.container-form .form .form-box label {
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.container-form .form .form-box input {
  margin-top: 5px;
  height: 40px;
  padding-left: 5px;
  font-size: 1.6rem;
  border-radius: 15px;
  border: 2px solid #DB504A;
  padding-left: 10px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}
.container-form .form .form-box input:focus {
  outline: none;
  border-color: #661714;
}

.container-results {
  margin-top: 50px;
  width: 80%;
  max-width: 600px;
  padding: 30px 10px;
  border: 1px solid #FFF;
  border-radius: 10px;
  text-align: center;
}
.container-results.hidden {
  display: none;
}
.container-results .title {
  margin: 20px 0;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.container-results .definition {
  margin: 20px 0;
  padding-left: 40px;
  line-height: 110%;
  letter-spacing: 1px;
  font-size: 1.6rem;
  text-align: left;
  position: relative;
}
.container-results .definition:first-of-type {
  padding-top: 18px;
  border-top: 1px solid #fff;
}
.container-results .definition:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #498edd;
  position: absolute;
  border-radius: 50%;
  left: 15px;
}
.container-results-select {
  width: 150px;
  height: 40px;
  margin: 20px 0;
  font-size: 2.2rem;
  text-align: center;
  background: transparent;
  border-radius: 8px;
  border-color: #FFF;
  color: #FFF;
  appearance: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bolder;
}
.container-results-select .option {
  background: #333;
}

.container-history {
  transition: 0.5s;
}
.container-history.open {
  width: 100%;
  background: rgba(0, 0, 0, 0.5333333333);
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
}
.container-history .history {
  transform: translateX(-93%);
  position: fixed;
  height: 100%;
  top: 0;
  border-right: 3px solid #DB504A;
  background: #42454D;
  text-align: center;
  padding: 30px 15px;
  transition: 0.3s ease-in;
}
.container-history .history.open {
  transform: translateX(0);
  width: 250px;
}
.container-history .history.open .open-history {
  transform: rotate(180deg) scale(1.1);
}
.container-history .history.open .open-history:hover {
  transform: rotate(180deg) scale(1.1);
}
.container-history .history .open-history {
  position: absolute;
  right: -18px;
  top: 60px;
  font-size: 3.5rem;
  color: #DB504A;
  background: #42454D;
  border: 2px solid #DB504A;
  border-radius: 10px;
  cursor: pointer;
}
.container-history .history .open-history:hover {
  transform: scale(1.1);
}
.container-history .history-title {
  font-size: 3.2rem;
  letter-spacing: 2px;
  font-weight: 900;
  font-style: italic;
  margin: 30px 0;
}
.container-history .history .history-items {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 25px 0;
  padding: 20px;
  border-top: 2px solid #DB504A;
  border-bottom: 2px solid #DB504A;
}
.container-history .history .history-items .history-word-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.container-history .history .history-items .history-word-box-item, .container-history .history .history-items .history-word-box .trash {
  cursor: pointer;
  font-size: 2.2rem;
  transition: 0.3s;
}
.container-history .history .history-items .history-word-box-item {
  letter-spacing: 2px;
  font-weight: bold;
}
.container-history .history .history-items .history-word-box-item:hover {
  transform: scale(1.1);
  color: #DB504A;
}
.container-history .history .history-items .history-word-box .trash:hover {
  color: #DB504A;
  transform: scale(1.1);
}

#header {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  border-bottom: 2px solid #DB504A;
}
#header .page-title {
  font-size: 3.8rem;
  letter-spacing: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
