@use '../base/_utilities'
@use '../base/_variables'

.container-form
    @include utilities.container-style
    margin-top: 50px
    width: 80%
    max-width: 600px

    h1
        text-align: center
        margin-bottom: 40px

    .form
        margin: 20px 0

        .form-box
            display: flex
            width: 80%
            margin: 10px auto
            flex-direction: column

            label
                font-size: 1.8rem

            input
                margin-top: 5px
                height: 35px
                border: none
                padding-left: 5px
                font-size: 1.5rem
                border-radius: 10px

    .qtd-cards
        display: flex
        align-items: center
        gap: 5px
        font-size: 2rem
        margin: auto
        width: 85px

        .qtd
            font-size: 2.5rem
