@use '../base/_variables'
@use '../base/utilities'

.container-history
    transition: .5s
    &.open
        width: 100%
        background: #00000088
        height: 100%
        position: absolute
        display: flex
        top: 0

    .history
        transform: translateX(-93%)
        position: fixed
        height: 100%
        top: 0
        border-right: 3px solid variables.$primary-color
        background: variables.$secondary-bg-color
        text-align: center
        padding: 30px 15px
        transition: .3s ease-in

        &.open
            transform: translateX(0)
            width: 250px

            .open-history
                transform: rotate(180deg) scale(1.1)

                &:hover
                    transform: rotate(180deg) scale(1.1)

        .open-history
            position: absolute
            right: -18px
            top: 60px
            font-size: 3.5rem
            color: variables.$primary-color
            background: variables.$secondary-bg-color
            border: 2px solid variables.$primary-color
            border-radius: 10px
            cursor: pointer

            &:hover
                transform: scale(1.1)

        &-title
            font-size: 3.2rem
            letter-spacing: 2px
            font-weight: 900
            font-style: italic
            margin: 30px 0

        .history-items
            font-size: 2rem
            letter-spacing: 1px
            margin: 25px 0
            padding: 20px
            border-top: 2px solid variables.$primary-color
            border-bottom: 2px solid variables.$primary-color

            .history-word-box
                @include utilities.center-elements
                gap: 10px
                margin: 10px 0

                &-item,.trash
                    cursor: pointer
                    font-size: 2.2rem
                    transition: .3s

                &-item
                    letter-spacing: 2px
                    font-weight: bold

                    &:hover
                        transform: scale(1.1)
                        color: variables.$primary-color

                .trash
                    &:hover
                        color: variables.$primary-color
                        transform: scale(1.1)
